<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Header Example</title>
</head>
<body>
<header id="header">
	<div class="gnb">
		<ul>
			<li><a th:href="@{/manageProduct}">商品管理</a></li>
			<li><a th:href="@{/myPage}">my page</a></li>
			<li>
				<form th:action="@{/logout}" method="post">
					<button type="submit">logout</button>
				</form>
			</li>
			<li><a th:href="@{/member/new}">社員加入</a></li>
			<li><a th:href="@{/member/login}">ログイン</a></li>
			<li><a th:href="@{/}">home</a></li>
			<li><a th:href="@{/cart(cartDto.membersNo=${session.sessionNo})}">cart</a></li>
		</ul>
	</div>
	<div class="clearfix"></div>
</header>
</body>
</html>
