<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="/css/shop1.css">
</head>
<body>
<div class="wrap">
	<div th:replace="fragments/header :: header"></div>
	<main>
		<div class="products">
			<h2>Main</h2>

			<!-- Navigation Links -->
			<div class="nav-links">
				<a href="/product/detail">Detail</a>
				<a href="/product/new">Product</a>
				<a href="/paypal">Hello</a>
			</div>

			<!-- Product List -->
			<div class="product-container">
				<div th:each="product : ${productList}" class="product-card">
					<a th:href="@{/product/orderProductDetail/{productId} (productId= ${product.id})}">
						<img th:src="@{'/img/shirts.jpg'}" alt="Product Image" class="product-image">
						<div class="product-info">
							<p class="product-name" th:text="${product.name}">Product Name</p>
							<p class="product-price" th:text="${product.price} + '원'">0원</p>
						</div>
					</a>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</main>
</div>
</body>
</html>
