<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/shop1.css">

</head>
<body>
	<div class="wrap">
		<div th:replace="fragments/header :: header"/>
		<div class="input-wrapper">
			<h2>商品細部内容</h2>
			<form role="form" action="moveModifyProduct" th:object="${product}" method="post">
				<div class="center">
					<input type="image" src="./img/shirts.jpg" class="img">
				</div>
				<label th:for="id">商品番号</label>
				<input type="text" th:field="*{id}" readonly >
				<label th:for="name">商品名</label>
				<input type="text" th:field="*{name}" class="form-control"
					th:class="${#fields.hasErrors('name')}?'form-control fieldError':'form-control'">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				<label th:for="quantity">数量</label>
				<input type="text" th:field="*{quantity}" class="form-control"
					th:class="${#fields.hasErrors('quantity')}?'form-control fieldError':'form-control'">
				<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
				<label th:for="price">値段</label>
				<input type="text" th:field="*{price}" class="form-control"
					th:class="${#fields.hasErrors('price')} ? 'form-control fieldError': 'form-control'">
				<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
				<div>
					<!--<s:submit value="修訂" cssClass="submit" id="basic" />-->
					<button type="submit" class="submit">修訂</button>
					<button type="submit" class="cancel" th:formaction="@{cancel}">削除</button>
				</div>
			</form>


		</div>
		<!--				<label>細部内容</label>-->
		<!--				<input type="text" name="productDto.content" value="productDto.content">-->
		<!--				<label>size</label>-->
		<!--				<input type="text" name="productDto.size" value="productDto.size" readonly>-->

	</div>
<!--footer-->
</body>
<script>
var form = document.getElementById('input-form');

function goModify(){
	console.log(form);
	form.action ='moveModifyProduct';
	form.submit();
}
function goDelete(){
	console.log(form);
	form.action ='deleteProduct';
	form.submit();
}

</script>
</html>