<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/shop1.css">
</head>
<body>
<div class="wrap">
    <div th:replace="fragments/header :: header"/>
    <div class="input-wrapper">
        <h2>購買内訳</h2>

        <table>
            <thead class="table_over">
            <tr>
                <td>注文番号</td>
                <td>注文日付</td>
                <td>商品名</td>
                <td>値段</td>
                <td>注文状態</td>
                <td>取り消し</td>
            </tr>
            </thead>
            <tr th:each="order : ${order}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDate}"></td>
                <td>
                    <ul>
                        <li th:each="orderProductList : ${order.orderProductList}">
                            <span th:text="${orderProductList.product.name}"></span> -
                            <span th:text="${orderProductList.product.price}"></span>
                        </li>
                    </ul>
                </td>
                <td th:text="${order.orderStatus}"></td>
                <td><a th:href="@{/order/cancel/{id} (id = ${order.id})}">
                    <input type="button" value="取り消し"></a>
                </td>
            </tr>

<!--            <tr th:each="order : ${order}">-->
<!--                &lt;!&ndash; 공통 데이터인 id, orderDate, status 컬럼 설정 &ndash;&gt;-->
<!--                <td th:text="${order.id}" rowspan="${#lists.size(order.orderProductList)}"></td>-->
<!--                <td th:text="${order.orderDate}" rowspan="${#lists.size(order.orderProductList)}"></td>-->

<!--                &lt;!&ndash; orderProductList의 첫 번째 항목 출력 &ndash;&gt;-->
<!--                <td>-->
<!--                    <span th:text="${order.orderProductList[0].product.name}"></span> - -->
<!--                    <span th:text="${order.orderProductList[0].product.price}"></span>-->
<!--                </td>-->

<!--                <td th:text="${order.orderStatus}" rowspan="${#lists.size(order.orderProductList)}"></td>-->
<!--                <td rowspan="${#lists.size(order.orderProductList)}">-->
<!--                    <a th:href="@{'/cancelOrder?ordersDto.no=' + ${order.id}}">-->
<!--                        <input type="button" value="取り消し">-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->

<!--            &lt;!&ndash; 두 번째 항목부터 반복하여 출력 &ndash;&gt;-->
<!--            <tr th:each="product, iterStat : ${order.orderProductList}" th:if="${!iterStat.first}">-->
<!--                <td>-->
<!--                    <span th:text="${product.product.name}"></span> - -->
<!--                    <span th:text="${product.product.price}"></span>-->
<!--                </td>-->
<!--            </tr>-->

            <tr>
                <td colspan="6" class="font_right">
                    <a href='<c:url value="/myPage"/>'><input type="button" class="cancel" value="戻る"></a>
                </td>
            </tr>
        </table>

    </div>
</div>
<!--footer-->

</body>
</html>